*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #010101;
    background-color: #ffefda;

}

/* HEADER */

header {
    display: flex;
    background-color: #010101;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 0.2% 1%
}

.headerLinkGroup {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.headerLink {
    display: flex;
    align-items: center;
    color: #ffefda;
    text-decoration: none;
}

.header-logo {
    display: flex;
    width: 12.7%;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    margin-top: 1%;
    background-color: #010101;
    display: flex;
    width: 100%;
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
}

.footerLink {

    align-items: center;
    color: #ffefda;
    text-decoration: none;
}

.main-enlace-repo {
    color: #ffefda;
}