.principal-area {
    margin: 7% 0;
}

.principal-caja {
    margin: 2% auto;
    background-color: #ccbfae;
    border-radius: 20px;
    width: 80%;
    padding: 2% 0%;
}

.principal-textInput {
    margin-top: 3%;
    border: 1px solid #010101;
    width: 45%;
    padding: 1%;
    color: #010101;
    font-weight: bold;
}

.principal-button {
    background-color: #065ce7;
    border: 1px solid #010101;
    width: 5%;
    padding: 1%;
    color: #e5d5c4;
    font-weight: bold;
}

.principal-divSalida {
    margin: 3% 0;
}